<footer class='second-fotter'>
  <div class='second-fotter-text-wrap'>
    <p class='second-fotter-text'>プライバシーポリシー</p>
    <p class='second-fotter-text'>connect利用規約</p>
  
  </div>
  <%= image_tag "clg.png", class:"second-fotter-logo"%>
</footer>