<div class='select-reason-contents-ori'>
<%= link_to image_tag("clg.png", class:"furima-icon2"), "/" %>
  <h2 class='title-ori2'>
    ご購入ありがとうございました。
  </h2>
  <h2 class='title-ori2'>
    商品のご到着まで今しばらくお待ちくださいませ。
  </h2>
  <h2 class='title-ori2'>
    <%=link_to 'トップページへ戻る', root_path, class:"under" %>
  </h2>
</div>

