<div class="items-sell-contents">
  <header class="items-sell-header">
     <%= link_to image_tag("clg.png", class:"furima-icon2"), "/" %>
  </header>
</div>
<div class='wrapper'>
  <div class='side-bar'>
    <%= render "messages/side_bar" %>
  </div>
</div>

<div class="items-sell-contents">
  <footer class="items-sell-footer">
    <ul class="menu">
      
    </ul>
    <%= link_to image_tag('clg.png' , size: '20vh'), "/", class:"imgitem"%>
    <p class="inc">
      ©︎connect,Inc.
    </p>
  </footer>
</div>

